body {
    background: #f9e933;
    font-family: 'Merriweather', serif;
}

header, main, footer {
    min-width: 855px;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
}

main {
    background: white;
}

    main h1, h2, h3, h4, h5, h6 {
        font-family: 'Ubuntu', sans-serif;
    }

header {
    background: white;
    overflow: auto;
}

    header h1 {
        float: left;
        margin-left: 5%;
        width: 570px;
        font-family: 'Ubuntu', sans-serif;
    }

header nav {
    float: right;
    width: 285px;
}

.sitemap{
    position: absolute;
    right: 35px;
}

.contact{
    position: absolute;
    left: 35px;
}

div.lamp{
    text-align: left;
    padding-bottom: 8%;
    justify-content: space-between;
    margin-left: 1%;
}

main .lamp img{
    position: absolute;
    left: 15px;
    top: 70px;
    margin-left: 65%;
    margin-bottom : 2%;
}

main .lamp .text{
    padding-left: 1%;
    padding-top: 3%;
}